# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyCharm
.idea/
*.iml
*.iws
.idea_modules/

# VS Code
.vscode/
*.code-workspace

# PyTorch
*.pth
*.pt
*.pkl
.pytorch/
lightning_logs/
runs/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Environment
.env
.venv
env/
venv/
ENV/

# Logs and databases
*.log
*.sqlite
*.db

# Project specific
sample_data/
wandb/